/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(to bottom, #f7f8fb, #eceff4);
}


/* MAIN */
.main {
  padding: 18px;
  padding-bottom: 90px;
  border-color: gold;
  background-color: #cc0000;
}


/* MATCH CARD */
.match-card {
  background: white;
  border-radius: 18px;
  padding: 20px;
  margin-bottom: 20px;

  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  border: 1px solid #f0f0f0;

  transition: 0.25s ease;
}

.match-card:hover {
  transform: translateY(-4px);
}


/* MATCH HEADER */
.match-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13px;
  color: #8a8a8a;
  margin-bottom: 15px;
}

.live {
  background: linear-gradient(to right, #ff0000, #ff4d4d);
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(255,0,0,0.3);
}


/* TEAMS */
.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.team {
  text-align: center;
  width: 40%;
}

.team-name {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin-bottom: 6px;
}

.score {
  font-size: 14px;
  color: #ff0000;
}

.vs {
  font-size: 20px;
  font-weight: 800;
  color: #cc0000;
}


/* ODDS */
.odds-row {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
}

.odd-box {
  flex: 1;

  background: linear-gradient(to bottom, #f9f9f9, #f1f1f1);

  padding: 12px 0;
  border-radius: 14px;

  text-align: center;

  font-size: 20px;
  font-weight: bold;

  color: #1e8e3e; /* Green odds */
  border: 1px solid #e0e0e0;

  cursor: pointer;
  transition: 0.2s ease;
}

.odd-box:hover {
  background: #ffeaea;
  color: #cc0000;
  transform: scale(1.05);
}


/* BUTTON */
.bet-btn {
  width: 100%;

  background: linear-gradient(to right, #cc0000, #ff3b3b);

  color: white;
  border: none;

  padding: 13px;

  border-radius: 14px;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  transition: all 0.25s ease;
}

.bet-btn:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 25px rgba(204,0,0,0.4);
}


/* BOTTOM NAV */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;

  background: white;
  border-top: 1px solid #eee;

  display: flex;
  justify-content: space-around;

  padding: 10px 0;

  box-shadow: 0 -3px 10px rgba(0,0,0,0.05);
}

.nav-item {
  text-align: center;
  font-size: 13px;
  color: #888;
}

.nav-item.active {
  color: #cc0000;
  font-weight: bold;
}