/* Full Page */
.login-page {
  min-height: 100vh;
  width: 100%;

  /* Background Image */
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.035),
      rgba(0, 0, 0, 0)
    ),
    url("../assets/login.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* Login Card */
.login-card {
  width: 90%;
  max-width: 360px;

  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(8px);

  border-radius: 15px;

  padding: 25px 22px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.4);

  text-align: center;

  animation: fadeIn 0.5s ease;
}


/* Fade animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Title */
.login-title {
  color: #cc0000;
  font-size: 24px;
  font-weight: bold;

  margin-bottom: 15px;
}


/* Error */
.login-error {
  background: #ffe0e0;
  color: #cc0000;

  padding: 8px;
  border-radius: 6px;

  margin-bottom: 10px;
  font-size: 13px;
}


/* Inputs */
.login-card input {
  width: 100%;
  padding: 12px;

  margin-bottom: 12px;

  border: 1px solid #ccc;
  border-radius: 8px;

  font-size: 14px;

  outline: none;
}

.login-card input:focus {
  border-color: #cc0000;
  box-shadow: 0 0 0 1px #cc0000;
}


/* Button */
.login-card button {
  width: 100%;

  padding: 12px;

  background: linear-gradient(to right, #cc0000, #ff3333);

  color: white;
  border: none;

  border-radius: 8px;

  font-size: 15px;
  font-weight: bold;

  cursor: pointer;

  margin-top: 5px;

  transition: all 0.2s ease;
}

.login-card button:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(204,0,0,0.4);
}

/* Secure */
.secure-text {
  margin-top: 14px;
  font-size: 13px;
  color: #555;
}